{% extends '_adminLayout.html' %}

{% block admin-content %}

    <div class="columns">
        <div class="column is-three-quarters">
            <p class="subtitle">
                List of all System Features
            </p>
        </div>
        <div class="column">
            <a class="button is-primary" href="{% url 'system-admin:create-feature' %}">
                Add System Feature
            </a>
        </div>
    </div>

    <div class="columns">
        <div class="column is-full">
            <table class="table is-fullwidth">
                <thead>
                    <th>System Feature</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for feature in features %}
                        <tr>
                            <td>{{ feature.sysFeature }}</td>
                            <td>
                                <a class="button is-danger" href="{% url 'system-admin:delete-feature' feature.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}