{% extends '_adminLayout.html' %}

{% block admin-content %}

    <div class="columns">
        <div class="column is-three-quarters">
            <p class="subtitle">
                List of all users
            </p>
        </div>
        <div class="column">
            <a class="button is-primary" href="{% url 'system-admin:create-user' %}">
                Add User
            </a>
        </div>
    </div>

    <div class="columns">
        <div class="column is-full">
            <table class="table is-fullwidth">
                <thead>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Roles</th>
                    <th>Account Expiry</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.user.first_name | add:" " | add:user.user.last_name }}</td>
                            <td>{{ user.user.email }}</td>
                            <td>{{ user.user.username }}</td>
                            <td>{{ user.user.roles }}</td>
                            <td>{{ user.account_expiry_date }}</td>
                            <td>
                                <a class="button is-warning" href="{% url 'system-admin:edit-user' user.user.id %}">Edit</a>
                                <a class="button is-primary">Assign Role</a>
                                <a class="button is-link">Enable</a>
                                <a class="button is-danger" href="{% url 'system-admin:delete-user' user.user.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>





{% endblock %}