{% extends '_adminLayout.html' %}

{% block admin-content %}

    <div class="columns">
        <div class="column is-three-quarters">
            <p class="title">
                {{ title }}
            </p>
        </div>
    </div>

    <div class="columns">

        <div class="column is-three-quarters">

            <form action="" method="post">
                {% csrf_token %}
                {{ form.errors }}
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Full Name</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control is-expanded">
                          {{ form.first_name }}
                      </p>
                    </div>
                    <div class="field">
                      <p class="control is-expanded">
                          {{ form.last_name }}
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                      <label class="label">Email</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                        {{ form.email }}
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                      <label class="label">Username</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                        {{ form.username }}
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                      <label class="label">Account Expiry Date</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                        {{ form.account_expiry_date }}
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-grouped is-grouped-centered">
                  <p class="control">
                    <input type="submit" value="Submit" class="button is-primary" />
                  </p>
                  <p class="control">
                    <a class="button is-light" href="{% url 'system-admin:users' %}">
                      Cancel
                    </a>
                  </p>
                </div>
            </form>

        </div>
    </div>

{% endblock %}