
body {
    /*background-image: url("/static/image/pat3.jpeg");*/
    background: #ECF0F3;
}

.page-container{
    min-height: 700px;
}

.footer{
    background-color: #222831;
    color: lemonchiffon;
}