{% extends '_layout.html' %}

{% block content %}
<div class="section">

    <div class="columns">

        <div class="column is-3">
            <aside class="menu">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <li><a>Dashboard</a></li>
                </ul>
                <p class="menu-label">
                    Administration
                </p>
                <ul class="menu-list">
                    <li><a>User Accounts</a></li>
                    <li><a>System Roles</a></li>
                    <li><a>System Features/Privileges</a></li>
                </ul>
            </aside>
        </div>

        <div class="column is-9">
            {% block admin-content %}
            {% endblock %}
        </div>

    </div>

</div>

{% endblock %}