{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title | default:'S1G72018'}} </title>
    <link rel="shortcut icon" href="{% static 'image/icon.png' %}" type="image/x-icon">
    <link rel='stylesheet prefetch' href="{% static 'css/bulma.min.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>

    <!-- Start Nav -->
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                        <img src="{% static 'image/logo_img.png' %}" alt="Logo">
                    </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="{% url 'myapp:home' %}">
                        Home
                    </a>
                    <a class="navbar-item" href="{% url 'myapp:contact' %}">
                        Contact
                    </a>
                    <a class="navbar-item" href="{% url 'myapp:about' %}">
                        About
                    </a>
                    <a class="navbar-item" href="{% url 'myapp:dashboard' %}">
                        Admin Portal
                    </a>
                    {% if user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            {{ user.username }}
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                My Profile
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="/logout">
                                Logout
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <a class="navbar-item" href="/login">
                        Login
                    </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </nav>
    <!-- End Nav -->

    <!-- Start content -->
    <div class="container page-container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- End content -->

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
              Section One Group Seven Fall 2018.
            </p>
        </div>
    </footer>

</body>
</html>